@font-face {
  font-family: "onefont";
  src: url("./font/one.woff2") format("woff2");
}
@font-face {
  font-family: "twofont";
  src: url("./font/two.woff2") format("woff2");
}
@font-face {
  font-family: "threefont";
  src: url("./font/three.woff2") format("woff2");
}
@font-face {
  font-family: "fourfont";
  src: url("./font/four.woff2") format("woff2");
}
/* @font-face {
  font-family: "siese";
  src: url("./font/Saisei\ –\ Innovative\ Architecture\ &\ Sustainable\ Design\ Studio.html");
} */
@font-face {
  font-family: "calgory";
  src: url("./font/Calgary_DEMO.ttf") format("woff2");
}
@font-face {
  font-family: "vilaka";
  src: url("./font/Vilaka\ Modern\ Serif\ Font.ttf") format("woff2");
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "threefont";
}
body,
html {
  height: 100%;
  width: 100%;
  /* background-color: #3f68a6; */
  overflow-x: hidden;
}
.page1 {
  height: 100vh;
  width: 100vw;
  color: cornsilk;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
    url("./assets/page1-background.webp");
  background-size: cover;
  background-position: center;
  font-family: "Saisei", sans-serif;
}
.navbar {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  /* background-color: green; */
  border-bottom: 2px solid #fbefd9;
}
.navbar-left h1 {
  letter-spacing: 1px;
}
.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.navbar-right i {
  font-size: 25px;
}

.page1-content {
  height: 90%;
  width: 100%;
  display: flex;
  padding: 0 5%;
}
.page1-content-left {
  width: 70%;
  height: 100%;
  /* position: absolute; */
}
.page1-content-left h1 {
  font-family: "siese";
  position: relative;
  font-size: 18rem;
  letter-spacing: 1px;
  left: 0;
  top: 60%;
}
.page1-content-right {
  width: 30%;
  height: 100%;
  position: relative;
}
.page1-content-right h3 {
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 1px;
  left: 0;
  top: 20%;
}
.page1-content-right h2 {
  position: absolute;
  font-size: 1rem;
  letter-spacing: 1px;
  right: 10%;
  top: 95%;
  /* background-color: green; */
}

.page2 {
  height: 100vh;
  width: 100vw;
  background-color: #fbefd9;
  /* font-family: "Saisei", sans-serif; */
  color: #1e1005;
  display: flex;
}
.page2-left {
  height: 100%;
  width: 30%;
  /* background-color: green; */
  font-family: "siese";
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  padding: 0 5%;
}

.page2-left h1 {
  font-size: 6rem;
  font-weight: 100;
}

.page2-middle {
  height: 100%;
  width: 40%;
  /* background-color: red; */
  background-image: url("./MyImg/img1.jpg");
  background-size: cover;
  background-position: center;
}
.page2-right {
  height: 100%;
  width: 30%;

  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2% 5%;
}
.page2-right p {
  font-size: 0.8rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
.page2-right-img {
  /* position: relative; */
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  object-fit: cover;
  background-image: url("./MyImg/img2.jpg");
  background-size: cover;
  background-position: center;
}

.page3 {
  background-color: #fbefd9;
  font-family: "Saisei", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* padding: 15vh 0; */
  text-align: center;
}

.card {
  width: 100vw;
  height: 100vh;
  background-color: #2e251e;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 10vh;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card-image {
  width: 60%;
  height: 60%;
  /* object-fit:cover; */
  object-position: center;
  border-radius: 10px;
}

.card-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff8dc;
}

.card-subtitle {
  font-weight: 700;
  font-size: 0.8rem;
  color: #fff8dc;
}
.card-subtitle a {
  text-decoration: none;
  color: #fff8dc;
}
.card-subtitle a:hover {
  color: #e07b39;
}
.card-description {
  font-weight: 300;
  line-height: 2;
  color: #fff8dc;
}

/* scrolling bubble animations  */
.scroll {
  position: relative;
  width: 100vh;
  height: 400vh;
  /* overflow: hidden; */
}

.scroll-wrapper {
  position: sticky;
  top: 0;
}
.scroll-text {
  position: sticky;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40rem;
  padding-left: 15rem;
  height: 100vh;
}
.scroll-text-subtitle {
  text-align: center;
  margin-bottom: 3.2rem;
}

.scroll-text-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6.4rem;
}
.scroll-text-title-word {
  display: inline-flex;
  perspective: 800px;
}
.scroll-text-title-word span {
  display: inline-block;
  font-size: 7rem;
  text-transform: uppercase;
}
.scroll-gallary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  padding: 6.4rem;
}
.scroll-gallary-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6.2rem;
}

.scroll-gallary-row:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
}
.scroll-gallary-row:nth-child(2),
.scroll-gallary-row:nth-child(3) {
  display: flex;
  justify-content: space-between;
}
.scroll-gallary-row:nth-child(3) {
  padding-top: 32rem;
}
.scroll-gallary-row-img {
  /* opacity: 0; */
  transform: translateY(20px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.scroll-gallary-row:nth-child(1) .scroll-gallary-row-img:nth-child(1) {
  width: 46rem;
  height: 46rem;
}
.scroll-gallary-row:nth-child(2) .scroll-gallary-row-img:nth-child(1) {
  width: 25rem;
  height: 30rem;
}
.scroll-gallary-row:nth-child(2) .scroll-gallary-row-img:nth-child(2) {
  width: 30rem;
  height: 30rem;
}
.scroll-gallary-row:nth-child(3) .scroll-gallary-row-img:nth-child(1) {
  width: 25rem;
  height: 25rem;
}
.scroll-gallary-row:nth-child(3) .scroll-gallary-row-img:nth-child(2) {
  width: 30rem;
  height: 40rem;
}
