@font-face {
  font-family: "onefont";
  src: url("./font/one.woff2") format("woff2");
}
@font-face {
  font-family: "twofont";
  src: url("./font/two.woff2") format("woff2");
}
@font-face {
  font-family: "threefont";
  src: url("./font/three.woff2") format("woff2");
}
@font-face {
  font-family: "fourfont";
  src: url("./font/four.woff2") format("woff2");
}
@font-face {
  font-family: "siese";
  src: url("./font/Saisei\ –\ Innovative\ Architecture\ &\ Sustainable\ Design\ Studio.html");
}
@font-face {
  font-family: "calgory";
  src: url("./font/Calgary_DEMO.ttf") format("woff2");
}
@font-face {
  font-family: "vilaka";
  src: url("./font/Vilaka\ Modern\ Serif\ Font.ttf") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "threefont";
}
body,
html {
  height: 100%;
  width: 100%;
  /* background-color: #3f68a6; */
  overflow-x: hidden;
}
.page1 {
  height: 100vh;
  width: 100vw;
  color: cornsilk;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
    url("./assets/page1-background.webp");
  background-size: cover;
  background-position: center;
  font-family: "Saisei", sans-serif;
}
.navbar {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  /* background-color: green; */
  border-bottom: 2px solid #fbefd9;
}
.navbar-left h1 {
  letter-spacing: 1px;
}
.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.navbar-right i {
  font-size: 25px;
}

.page1-content {
  height: 90%;
  width: 100%;
  display: flex;
  padding: 0 5%;
}
.page1-content-left {
  width: 70%;
  height: 100%;
  /* position: absolute; */
}
.page1-content-left h1 {
  font-family: "siese";
  position: relative;
  font-size: 18rem;
  letter-spacing: 1px;
  left: 0;
  top: 60%;
}
.page1-content-right {
  width: 30%;
  height: 100%;
  position: relative;
}
.page1-content-right h3 {
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 1px;
  left: 0;
  top: 20%;
}
.page1-content-right h2 {
  position: absolute;
  font-size: 1rem;
  letter-spacing: 1px;
  right: 10%;
  top: 95%;
  /* background-color: green; */
}

.page2 {
  height: 100vh;
  width: 100vw;
  background-color: #fbefd9;
  /* font-family: "Saisei", sans-serif; */
  color: #1e1005;
  display: flex;
}
.page2-left {
  height: 100%;
  width: 30%;
  /* background-color: green; */
  font-family: "siese";
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  padding: 0 5%;
}

.page2-left h1 {
  font-size: 6rem;
  font-weight: 100;
}

.page2-middle {
  height: 100%;
  width: 40%;
  /* background-color: red; */
  background-image: url("./MyImg/img1.jpg");
  background-size: cover;
  background-position: center;
}
.page2-right {
  height: 100%;
  width: 30%;

  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2% 5%;
}
.page2-right p {
  font-size: 0.8rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
.page2-right-img {
  /* position: relative; */
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  object-fit: cover;
  background-image: url("./MyImg/img2.jpg");
  background-size: cover;
  background-position: center;
}
